.env
.env.local

# Mobile
mobile/.expo/
mobile/node_modules/
mobile/dist/
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/.DS_Store

node_modules/
npm-debug.log*
yarn-error.log*